html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

#list {
  width: 400px;
}

#list h2 {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px dotted #ffc0cb;
  padding: 10px;
}

li > button {
  content: "X";
  background: #ff0000;
  color: #FFF;
  font-weight: bold;
  border: none;
  padding: 5px 7px;
  border-radius: 50%;
  margin-left: auto;
}

li > button:hover {
  background: rgba(255, 0, 0, 0.6)
}

ul li select {
  margin-right: 10px;
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}
